:root {
  --services-background: pink;
  --header-background: hotpink;
  --hover: orchid;
}

#services {
  min-height: 80vh;
}

#services > h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "Borel", cursive;
}

.services-container {
  min-width: 90vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.service {
  background: var(--services-background);
  border-radius: 2rem;
  border: 1px solid var(--header-background);
  height: fit-content;
  transition: var(--transition);
}

.service-header {
  background: var(--header-background);
  border-radius: 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service-header h2 {
  font-size: 2rem;
  text-align: center;
  font-family: "Preahvihear", sans-serif;
}

.service-name li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.service-name-icon {
  margin-top: .4rem;
}

.service-name p {
  font-size: 1.2rem;
  font-family: "Preahvihear", sans-serif;
}

@media screen and (max-width: 1024px) {
  .services-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .service {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .services-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
