:root {
  --project-hover: hotpink;
  --project-background: pink;
  --project-text: black;
}

#project > h1 {
  text-align: center;
  font-size: 4rem;
  padding-top: 1.5rem;
  font-family: "Borel", cursive;
  box-shadow: 6px 4px 1px 10px var(--project-text);
}

.project_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  justify-content: center;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.project_item {
  background: var(--project-background);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.project_item:hover {
  border-color: var(--project-hover);
  background: transparent;
}

.project_item-image {
  border-radius: 1rem;
  overflow: hidden;
  height: 30rem;
}

.project_item-image img {
  height: 30rem;
}

.project_item h3 {
  margin: 1rem 0 1rem;
  font-size: 1.8rem;
  font-family: "Preahvihear", sans-serif;
}

.project_item-desc {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.github_btn,
.live_btn {
  background-color: var(--project-hover);
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--project-text);
}

@media screen and (max-width: 1440px) {
  .project_container {
    display: block;
    width: 50vw;
    margin: auto;
  }

  .project_item {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .project_container {
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .project_container {
    padding: 0;
  }

  .project_item {
    border-radius: 1.8rem;
  }
}
