#resume_file {
  height: 115rem;
  text-align: center;
}

#resume_file h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "Borel", cursive;
}

.btn_download_resume {
  background-color: var(--resume);
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--resume-text);
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.resume_image {
  background-image: url(../../assets/resume.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  height: 100rem;
  border-radius: 2rem;
  margin: 2rem;
  margin-left: 6rem;
}
