:root {
  --about-btn: hotpink;
  --about-text: black;
  --about-hover: rgb(194, 194, 194);
}

#about-me {
  width: 100vw;
  height: 80rem;
  aspect-ratio: 1;
}

#about-me h1 {
  font-size: 4rem;
  font-family: "Borel", cursive;
}

.about-me-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10%;
}

.about-me-image {
  background-image: url("../../assets/me-and-boys.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  height: 50rem;
  border-radius: 2rem;
  overflow: hidden;
  margin-left: 6rem;
}

.about-me-content {
  width: 60%;
  font-size: 1.5rem;
  background-color: var(--about-hover);
  padding: .5rem;
  border-radius: 1rem;
  opacity: .9;
}

.about-me-content p {
  font-family: "Valera Round", sans-serif;
}

.about-btn {
  background-color: var(--about-btn);
  text-decoration: none;
  color: var(--about-text);
  padding: 0.8rem;
  border-radius: 0.4rem;
  font-family: "Rubik", sans-serif;
}

.about-btn:hover {
  background-color: var(--about-text);
  color: var(--about-hover);
}

@media screen and (max-width: 1024px) {
  #about-me {
    padding-bottom: 35rem;
  }

  .about-me-container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about-me {
    width: 80%;
  }

  .about-me-image {
    height: 50rem;
  }

  .about-me-content {
    text-align: center;
    width: 100%;
  }

  .about-me-content p {
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
  }

  .about-btn {
    background-color: var(--about-btn);
  }
}

@media screen and (max-width: 768px) {
  #about-me {
    margin-left: -1rem;
    padding-bottom: 10rem;
  }

  .about-me-image {
    height: 40rem;
  }

  .about-btn {
    background-color: var(--about-btn);
  }
}

@media screen and (max-width: 600px) {
  #about-me {
    margin-left: -1rem;
    padding-bottom: 40rem;
  }

  .about-me-container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about-me {
    width: 80%;
  }

  .about-me-image {
    height: 40rem;
  }

  .about-me-content {
    text-align: center;
    width: 100%;
  }

  .about-me-content p {
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  #about-me {
    margin-left: -1rem;
    padding-bottom: 95rem;
  }

  #about-me h1 {
    font-size: 3rem;
  }

  .about-me-image {
    height: 30rem;
    margin-left: 4rem;
  }
}

@media screen and (max-width: 375px) {
  .about-me-image {
    height: 25rem;
  }
}

@media screen and (max-width: 320px) {
  #about-me {
    padding-bottom: 115rem;
  }

  .about-me-image {
    height: 25rem;
    margin-left: 3rem;
  }
}
