#header {
  padding-top: 8rem;
}

.header-container > h1 {
  font-size: 4rem;
  font-family: "Preahvihear", sans-serif;
}

.header-container h3 {
  font-family: "Preahvihear", sans-serif;
}

.header-container > h4 {
  opacity: 0.8;
  font-size: 1.7rem;
  font-family: "Borel", cursive;
}

@media screen and (max-width: 1440px) {
  .my_logo div style {
    background-position: 800px 10px;
  }
}

@media screen and (max-width: 1024px) {
  .header_container h1 {
    margin-left: auto;
    font-size: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .header_container h4 {
    font-size: 1.5rem;
  }

  .my_logo img {
    width: 100%;
  }
}