:root {
  --resume: hotpink;
  --resume-text: black;
  --resume-hover: orchid;
}

.btn_resume,
.btn_contact {
  background-color: var(--resume);
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--resume-text);
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.btn_resume:hover,
.btn_contact:hover {
  background-color: var(--resume-hover);
}
