:root {
  --resume: hotpink;
  --resume-text: black;
  --resume-hover: grey;
  --resume-text-hover: white;
}

.resume {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn_resume {
  background-color: var(--resume);
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--resume-text);
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-top: 1rem;
}

.btn_resume:hover {
  background-color: var(--resume-hover);
  color: var(--resume-text-hover);
}

@media screen and (max-width: 375px) {
  .btn_resume {
    font-size: 1rem;
  }
}