:root {
  --submit-background: hotpink;
  --submit-hover: orchid;
  --submit-fill: pink;
  --submit-text: black;
  --submit-border: deeppink;
  --submit-error: red;
}

#contact > h1 {
  text-align: center;
  font-size: 4rem;
  padding-top: 2rem;
  margin-top: 0;
  font-family: "Borel", cursive;
}

.container.contact_container {
  margin-left: 22%;
  display: grid;
  grid-template-columns: 20% 47%;
  gap: 12%;
}

.contact_options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact_option {
  background: var(--submit-background);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact_option-icon {
  font-size: 2.5rem;
}

.contact_option h3 {
  font-size: 1.2rem;
  font-family: "Borel", cursive;
  margin-bottom: 0;
}

.contact_option a {
  margin-top: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: var(--submit-text);
  background-color: var(--submit-fill);
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: "Preahvihear", sans-serif;
  font-size: 1rem;
}

.contact_option a:hover {
  background-color: var(--submit-hover);
  border-color: var(--submit-border);
}

input::placeholder {
  color: var(--submit-text);
  font-family: "Preahvihear", sans-serif;
  font-size: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--submit-background);
  resize: none;
  background-color: var(--submit-fill);
}

textarea {
  padding-bottom: 6.5rem;
}

textarea::placeholder {
  color: var(--submit-text);
  font-family: "Preahvihear", sans-serif;
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  .container.contact_container {
    margin-left: auto;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .container.contact_container {
    margin-left: auto;
    grid-template-columns: 1fr;
  }
}
