:root {
  --submit-background: hotpink;
  --submit-hover: #F0FFFF;
  --submit-fill: pink;
  --submit-text: black;
  --submit-border: deeppink;
  --submit-error: red;
}

#contact > h1 {
  font-size: 4rem;
  font-family: "Borel", cursive;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: auto;
  padding-bottom: 15rem;
}

.contact-form {
  width: 40vw;
  margin: auto;
}

.contact-options {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: auto;
}

.contact-option {
  background: var(--submit-background);
  padding: 2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
  width: 20rem;
}

.contact-option-icon {
  font-size: 3.5rem;
}

.contact-option h3 {
  font-size: 1.5rem;
  font-family: "Borel", cursive;
  margin-bottom: 0;
  margin-top: 1rem;
}

.contact-option a {
  margin-top: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: var(--submit-text);
  background-color: var(--submit-fill);
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: "Preahvihear", sans-serif;
}

.contact-option a:hover {
  background-color: var(--submit-hover);
  border-color: var(--submit-border);
}

.contact-submit {
  margin-top: 0.5rem;
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--submit-text);
  background-color: var(--submit-background);
  border-radius: 0.5rem;
  font-family: "Preahvihear", sans-serif;
  width: 10rem;
}

.contact-submit:hover {
  background-color: var(--submit-hover);
  cursor: pointer;
}

.email-sent {
  padding-left: 2rem;
}

input::placeholder {
  color: var(--submit-text);
  font-family: "Preahvihear", sans-serif;
  font-size: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--submit-background);
  resize: none;
  background-color: var(--submit-fill);
}

textarea {
  padding-bottom: 6.5rem;
}

textarea::placeholder {
  color: var(--submit-text);
  font-family: "Preahvihear", sans-serif;
  font-size: 1rem;
}

@media screen and (max-width: 1440px) {
  .contact-container {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .email-sent {
    display: block;
    width: 80vw;
    padding-left: 0;
    padding-top: .5rem;
  }

  .contact-options {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .container.contact-container {
    margin-left: auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 425px) {
  input::placeholder {
    font-size: .8rem;
  }
}

@media screen and (max-width: 375px) {
  input::placeholder {
    font-size: .7rem;
  }
}

@media screen and (max-width: 320px) {
  input::placeholder {
    font-size: .5rem;
  }
}