#header {
    padding-top: 1rem;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header_container > h1 {
    text-align: center;
    height: 100%;
    position: relative;
    font-size: 3rem;
}

.header_container > h4 {
    text-align: center;
    height: 100%;
    position: relative;
    opacity: 0.6;
}

.resume {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}