header {
    padding-top: 2rem;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.resume {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

h4 {
    opacity: 0.6;
}