:root {
    --resume: hotpink;
    --text: black;
}

.btn_resume, .btn_contact {
    background-color: var(--resume);
    padding: 1rem;
    border-radius: .5rem;
    text-decoration: none;
    color: var(--text);
    font-size: 1.2rem;
}