:root {
    --footer-background: hotpink;
}

#footer {
  background: var(--footer-background);
  padding-top: 1.6rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  left: 0;
  width: 100%;
}

#footer a {
  color: var(--color-bg);
}

.pageLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 1rem;
}

.pageLinks > li {
    list-style: none;
}

.pageLinks li a {
    text-decoration: none;
    font-size: 1.1rem;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.socialLinks a {
  font-size: 135%;
  color: var(--color-primary);
  background: var(--color-bg);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.socialLinks a:hover {
  background-color: white;
}

.copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--color-light);
  transition: var(--transition);
  font-size: 1.3rem;
  font-family: "Preahvihear", sans-serif;
}

@media screen and (max-width: 1024px) {
  #footer {
    width: 105vw;
  }

  .footer_logo {
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
  .pageLinks {
    flex-direction: column;
    gap: 1rem;
    padding: 0px;
  }


  .footer_logo {
    width: 20%;
  }

}

@media screen and (max-width: 400px) {
  .footer_logo {
    width: 25%;
    margin-bottom: .5rem;
  }
}