:root {
    --footer-background: black;
}

#footer {
  background: var(--footer-background);
  padding-top: 1.6rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  left: 0;
  width: 100%;
}

#footer a {
  color: var(--color-bg);
}

.my-logo {
  overflow-x: hidden;
  background-repeat: no-repeat;
}

.copyright {
  margin-top: -3rem;
  padding-top: 4rem;
  color: var(--color-light);
  transition: var(--transition);
  font-size: 1.3rem;
  font-family: "Preahvihear", sans-serif;
}

@media screen and (max-width: 1024px) {
  #footer {
    width: 105vw;
  }

  .footer_logo {
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
 
}

@media screen and (max-width: 400px) {

}