:root {
  --footer-background: black;
  --icon-background: hotpink;
  --footer-text: white;
}

footer {
  margin: auto;
  text-align: center;
  padding: 5rem;
}

.footer a {
  color: var(--color-bg);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  color: var(--footer-background);
  margin-top: 2rem;
}

.social-links a {
  font-size: 3rem;
  display: flex;
}

.social-links a:hover {
  background-color: var(--icon-background);
  border-radius: 0.7rem;
}

.copyright {
  margin-top: -3rem;
  padding-top: 4rem;
  color: var(--color-light);
  transition: var(--transition);
  font-size: 1.3rem;
  font-family: "Preahvihear", sans-serif;
}

@media screen and (max-width: 1024px) {
  footer {
    padding-top: 7rem;
  }
}

@media screen and (max-width: 820px) {
  footer {
    padding-top: 13rem;
  }
}

@media screen and (max-width: 360px) {
  footer {
    padding-top: 10rem;
  }
}

@media screen and (max-width: 320px) {
  footer {
    padding-top: 10rem;
  }
}