:root {
  --fe-background: black;
  --be-background: rgb(60, 60, 60);
  --experience-border: deeppink;
  --experience-hover: hotpink;
  --experience-text: grey;
  --experience-header: white;
  --experience-gradient: rgb(80, 80, 80);
}

#experience {
  min-height: 80vh;
  min-width: 100vw;
}

#experience > h3 {
  color: var(--experience-header);
  margin-bottom: -.5rem;
  font-size: 4rem;
  font-family: "Borel", cursive;
  padding-top: 2rem;
}

#experience > h4 {
  color: var(--experience-text);
  opacity: 0.7;
  font-size: 1.3rem;
  font-family: "Preahvihear", sans-serif;
}

.experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  color: var(--experience-header);
  padding-top: 16rem;
  margin-left: 62rem;
}

.experience-container > div {
  padding: 2.4rem 5rem;
  border-radius: 2rem;
}

.experience-container div h3 {
  font-family: "Borel", cursive;
}

.experience-frontend {
  font-size: 1.5rem;
  background-color: var(--fe-background);
}

.experience-backend {
  font-size: 1.5rem;
  background-color: var(--be-background);
}

.experience-details div h4 {
  font-weight: bolder;
  font-size: 1.3rem;
  font-family: "Preahvihear", sans-serif;
}

.experience-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience-details {
  display: flex;
  gap: 1rem;
}

.experience-details-icon {
  color: var(--experience-text);
  font-size: 1.5rem;
}

.text-light {
  opacity: 0.3;
  font-family: "Rubik", sans-serif;
}

.experience-backend {
  font-size: 1.5rem;
}

@media screen and (max-width: 1440px) {
  .experience-container {
    margin: auto;
    width: 80vw;
    padding-top: 35rem;
  }

  .experience-frontend {
    border: 2px solid white;
  }
}

@media screen and (max-width: 1024px) {
  .experience-container {
    grid-template-columns: 1fr;
  }

  .text-light {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 600px) {
  .experience-container {
    gap: 1rem;
  }

  .experience-container > div {
    padding: 0rem;
  }

  .text-light {
    font-size: 1.1rem;
  }
}
