:root {
  --experience-background: black;
  --experience-border: deeppink;
  --experience-hover: hotpink;
  --experience-text: grey;
  --experience-header: white;
  --experience-gradient: rgb(80, 80, 80);
}

#experience {
  min-height: 80vh;
  min-width: 100vw;
  background: rgb(177,179,177);
  background: linear-gradient(90deg, rgba(177,179,177,1) 0%, rgba(34,34,34,1) 25%, rgba(13,20,17,1) 50%, rgba(47,48,48,1) 75%, rgba(152,153,153,1) 100%);
  margin-left: -1rem;
}

#experience > h3 {
  color: var(--experience-header);
  margin-bottom: -.5rem;
  font-size: 4rem;
  font-family: "Borel", cursive;
}

#experience > h4 {
  color: var(--experience-text);
  opacity: 0.7;
  font-size: 1.3rem;
  font-family: "Preahvihear", sans-serif;
  box-shadow: 3px 3px rgb(183, 183, 183);
}

.experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  color: var(--experience-header);
}

.experience-container > div {
  background: var(--experience-background);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.experience-container div h3 {
  font-family: "Borel", cursive;
}

.experience-frontend {
  font-size: 1.5rem;
}

.experience-details div h4 {
  font-weight: bolder;
  font-size: 1.3rem;
  font-family: "Preahvihear", sans-serif;
}

.experience-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience-details {
  display: flex;
  gap: 1rem;
}

.experience-details-icon {
  margin-top: 2.1rem;
  color: var(--experience-text);
  font-size: 1.5rem;
}

.text-light {
  opacity: 0.4;
  font-family: "Rubik", sans-serif;
}

.experience-backend {
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .experience-container {
    grid-template-columns: 1fr;
  }

  .experience-container > div {
    width: 100%;
    padding: 0rem;
    margin: 0 auto;
  }

  .experience-content {
    padding: 1rem;
  }

  .text-light {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 600px) {
  .experience-container {
    gap: 1rem;
  }

  .experience-container > div {
    padding: 0rem;
  }

  .text-light {
    font-size: 1.1rem;
  }
}
