@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Borel&family=Kalam&family=Lobster&family=Preahvihear&family=Rubik:wght@300;400;500&display=swap');

html {
    overflow-x: hidden;
}

body {
    background: rgb(56,56,56);
    background: linear-gradient(90deg, rgba(56,56,56,1) 0%, rgba(143,143,143,1) 100%);
}