:root {
  --nav-text: black;
  --nav-hover: lightpink;
  --nav-background: hotpink;
}

.navigation {
  background-color: var(--nav-background);
}

.brand {
  color: var(--nav-text);
  font-family: "Preahvihear", sans-serif;
}

.nav-tabs {
  font-family: "Preahvihear", sans-serif;
  font-size: 1.5rem;
}

.nav-tabs a {
  color: var(--nav-text);
}

.nav-tabs a:hover {
  color: var(--nav-hover);
}

.active {
  color: var(--nav-hover) !important;
  text-decoration: underline !important;
}