:root {
  --nav-text: white;
  --nav-hover: lightpink;
  --nav-background: hotpink;
  --navbar: black;
  --active-hover: grey;
}

.navigation {
  background-color: var(--navbar);
}

.nav-tabs {
  font-family: "Preahvihear", sans-serif;
  font-size: 1.5rem;
}

.nav-tabs a {
  color: var(--nav-text);
}

.nav-tabs a:hover {
  background-color: var(--nav-hover);
}

.active {
  color: var(--nav-background) !important;
  background-color: var(--active-hover) !important;
}

.socialLinks {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.socialLinks a {
  font-size: 3rem;
  color: var(--nav-text);
  display: flex;
}

.socialLinks a:hover {
  background-color: var(--nav-background);
  border-radius: 0.7rem;
}

@media screen and (max-width: 1024px) {
  .brand {
    display: block;
    margin: auto;
  }

  .nav-tabs {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .brand {
    margin: auto;
  }
}